.Row{
    margin-left: 20px;
    color: #fff;

}
.poster{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: none;
    
}
.poster::-webkit-scrollbar{
    display: none;
}
.pos{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}
.small{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}
.pos:hover{
    transform: scale(1.1);
}
.small:hover{
    transform: scale(1.1);
}